footer a {
  color: #666666;
}
.App {
  margin: 100px;
  margin-top: 80px;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgb(0 0 0 / 15%);
  padding: 70px;
  padding-top: 30px;
  background-color: #ddbc4e;
}

.App footer {
  font-size: 14px;
  text-align: center;
  font-family: monospace;
  margin-top: 40px;
}
