.Meanings {
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 300;
}
.partOfSpeech {
  text-transform: uppercase;
  color: #737984;
  font-weight: 450;
}
.definition {
}
.synonyms {
  font-style: italic;
  color: #737984;
}
